.edit {
  display: flex;
  justify-content: center;
 &-block {
   width: 800px;
   &_text {
     align-items: center;
     display: flex;
     p {
       font-size: 26px;
       color: #000;
     }
     input {
       margin-left: 40px;
       height: 25px;
     }
     select {
       margin-left: 40px;
       height: 25px;
     }
     button {
       padding: 20px;
       background: #167f92;
       cursor: pointer;
       color: white !important;
       font-size: 28px;
     }
   }
 };
}